<app-main-toolbar back="/settings/logging">{{'page_settings_showwatchlogs.page_title'|translate}}</app-main-toolbar>

<ion-content>
    <div class="select">
        <ion-select interface="action-sheet" [interfaceOptions]="{header: 'page_settings_showwatchlogs.select_watch'|translate}" [value]="Device" [cancelText]="'cancel'|translate" [disabled]="!Device" (ionChange)="onChangeDevice($event)">
            <ion-text slot="label">{{Device?.Name ?? 'page_settings_showwatchlogs.no_watch'|translate}}</ion-text>
            <ion-select-option *ngFor="let device of availableDevices" [value]="device" (selected)="Device?.Identifier == device.Identifier">{{device.Name}}</ion-select-option>
        </ion-select>
    </div>
    <div id="logtext" *ngIf="DeviceLog; else nologfile">{{DeviceLog}}</div>
    <ng-template #nologfile>
        <app-page-empty>
            <div slot="image">
                <ion-icon src="./assets/icons/file.svg"></ion-icon>
            </div>
            <div slot="text">
                <ion-text [innerHTML]="Device ? ('page_settings_showwatchlogs.no_logs'|translate) : ('page_settings_showwatchlogs.no_device'|translate)"></ion-text>
            </div>
        </app-page-empty>
    </ng-template>
    <ion-fab horizontal="end" vertical="bottom">
        <ion-fab-button (click)="loadLog()" [disabled]="!Device">
            <ion-icon src="./assets/icons/reload.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
