:host {
    display: block;
    max-height: 80%;

    ion-header {
        ion-toolbar {
            ion-title {
                font-size: 1.2em;
            }
        }
    }

    .inner-content {
        ion-button {
            margin-top: 20px;
        }
    }
}
