{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "bracketSameLine": true,
    "printWidth": 350,
    "singleAttributePerLine": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid"
}
