<app-main-toolbar back="/settings/logging">{{'page_settings_showlogs.page_title'|translate}}</app-main-toolbar>

<ion-content>
    <div class="select">
        <ion-icon src="./assets/icons/calendar.svg" class="calendar" (click)="openCalendar()"></ion-icon>
        <ion-select label-placement="fixes" interface="popover" (ionChange)="onChangeLogfile($event)" #selectLogfiles>
            <ion-select-option *ngFor="let file of availableLogfiles" [value]="file" (selected)="currentLogfile?.Path == file.uri">{{formatLogfile(file)}}</ion-select-option>
        </ion-select>
    </div>
    <div id="logtext" *ngIf="currentLogfile; else nologfile">{{currentLogfile.Content}}</div>
    <ng-template #nologfile>Kein Log an dem Tag...</ng-template>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button [disabled]="!currentLogfile || !currentLogfile.Exists">
            <ion-icon src="./assets/icons/list_menu.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button [attr.data-label]="'page_settings_showlogs.btn_save'|translate" (click)="onSave()" [disabled]="!currentLogfile || !currentLogfile.Exists">
                <ion-icon src="./assets/icons/store.svg"></ion-icon>
            </ion-fab-button>
            <ion-fab-button [attr.data-label]="'page_settings_showlogs.btn_delete'|translate" (click)="onDelete()" [disabled]="!currentLogfile || !currentLogfile.Exists">
                <ion-icon src="./assets/icons/trash.svg"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
