ion-select {
    position: sticky;
    top: 0;
    border-bottom: solid 1px var(--color-border);
    --padding-start: 6px;
    --padding-end: 6px;
    --background: var(--color-control-background);
}

#logtext {
    font-family: 'RobotoMono', monospace;
    padding: 10px 6px 100px 6px;
    font-size: 0.7em;
    white-space: pre-line;
    color: var(--color-text);
}
