:host {
    display: block;
    max-height: 80%;

    .buttons {
        display: flex;
        justify-content: right;
        padding: 0 6px 6px 0;

        ion-button {
            margin-block-start: 2em;
        }
    }
}
