:host {
    display: block;
    max-height: 90%;

    ion-header {
        ion-toolbar {
            ion-title {
                font-size: 1.2em;
            }
        }
    }

    ion-textarea {
        --padding-top: 6px;
        --padding-bottom: 6px;
        min-height: 20px;

        &.note {
            --color: var(--ion-color-medium) !important;
        }
    }

    ion-item {
        --inner-padding-end: 0;

        &:first-of-type {
            margin-block-start: 1em;
        }
    }

    .buttons {
        margin-top: 20px;
        column-gap: 1em;

        ion-toggle {
            font-size: 0.8em;
            line-height: 0.9em;
            --handle-width: 1.3em;
            --handle-height: 1.3em;
            --handle-max-height: auto;

            &::part(label) {
                margin-inline-start: 0.5em;
            }

            &::part(track) {
                width: 28px;
                height: 10px;
            }
        }
    }
}
