:host {
    display: block;
    --height: 100%;
    text-align: center;
    justify-content: center;

    ion-toolbar {
        font-size: 1.2em;
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        height: calc(100% - 60px);
        width: 100%;
        padding: 5vh 10% 20vh 10%;

        ion-text {
            font-size: 1.5em;
        }

        ion-icon {
            color: var(--ion-color-medium);
            width: 50%;
            max-height: 30%;
            aspect-ratio: 1 / 1;
            height: auto;
            display: block;
            contain: content;
        }

        ion-progress-bar {
            height: 1em;
            border-radius: 0.5em;
        }
    }
}
