<ion-header>
    <ion-toolbar>
        <ion-title>{{Title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()" [ariaLabel]="'cancel'|translate">
                <ion-icon src="./assets/icons/close.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="inner-content ion-padding">
    <form (ngSubmit)="onSubmit()" [formGroup]="Form">
        <ion-input [label]="'comp-markereditor.description'|translate" labelPlacement="floating" fill="outline" counter="true" maxlength="100" autocapitalize="sentence" autofocus="true" spellcheck="true" enterkeyhint="enter" required="true"
                   formControlName="label" #label></ion-input>
        <ion-button class="ion-float-end" [disabled]="!Form.valid" (click)="onSubmit()">
            {{Confirm}}
        </ion-button>
    </form>
</div>
