<app-main-toolbar back="lists/items/{{List?.Uuid}}">{{'page_geofencing.page_title'|translate}}</app-main-toolbar>

<ion-content>
    <div class="container">
        <div class="header">
            <div>
                <ion-toggle labelPlacement="start" (ionChange)="onActiveChanged($event.target.checked)">
                    <div class="text" [innerHTML]="Status"></div>
                    <ion-note [innerHTML]="StatusNote"></ion-note>
                </ion-toggle>
            </div>
        </div>
        <div class="map">
            <app-map #map></app-map>
        </div>
    </div>
</ion-content>
