<app-main-toolbar [displayCustomMenu]="true" [displayMenu]="false">
    {{'page_lists.page_title'|translate}}
    <app-main-toolbar-lists-custom-menu [(EditMode)]="EditMode" [EditMenuDisabled]="EditMenuDisabled()" [EditMenuActions]="getEditMenuActions()" slot="customMenu"></app-main-toolbar-lists-custom-menu>
</app-main-toolbar>

<ion-content fixed-slot-placement="before" scrollX="false" scrollEvents="true" overflow-scroll="false" (ionScroll)="onScroll($event)" #mainContent>
    <div *ngIf="Lists.length > 0; else noLists" class="list-content" #listContent>
        <ion-list id="animated-list" #itemsList>
            <ion-reorder-group (ionItemReorder)="handleReorder($any($event))" [disabled]="!EditMode">
                <ion-item-sliding *ngFor="let list of Lists" [disabled]="EditMode || !InitialAnimationDone">
                    <ion-item lines="none" [button]="true" (click)="clickOnItem($event, list)" [ngClass]="{'selected-item': EditMode && isListSelected(list)}">
                        <ion-label class="animated-item" [ngClass]="{'pre-animation-state': !InitialAnimationDone}">
                            <div class="details">
                                <div class="listname">{{list.Name}}</div>
                                <div color="medium" class="date">{{UpdatedString(list)}}</div>
                            </div>
                            <div class="icons" [ngClass]="{'hide': EditMode}" (click)="editList($event, list)">
                                <div class="itemcount">
                                    <div class="count">{{list.ItemsCount}}</div>
                                </div>
                                <ion-icon src="./assets/icons/edit.svg"></ion-icon>
                            </div>
                        </ion-label>
                        <div class="editmode" [ngClass]="{'show': EditMode}">
                            <ion-checkbox checked="true" [checked]="isListSelected(list)" (click)="$event.preventDefault()"></ion-checkbox>
                            <ion-reorder>
                                <ion-icon src="/assets/icons/reorder.svg"></ion-icon>
                            </ion-reorder>
                        </div>
                    </ion-item>
                    <ion-item-options side="start" (ionSwipe)="onSwipeRight(list)">
                        <ion-item-option color="danger" (click)="emptyLists(list)" *ngIf="list.ItemsCount > 0">
                            <ion-icon slot="start" src="./assets/icons/trash_bin_solid.svg"></ion-icon>
                            {{'page_lists.empty'|translate}}
                        </ion-item-option>
                        <ion-item-option color="danger" expandable="true" (click)="deleteLists(list)">
                            <ion-icon slot="start" src="./assets/icons/trash_solid.svg"></ion-icon>
                            {{'delete'|translate}}
                        </ion-item-option>
                    </ion-item-options>
                    <ion-item-options side="end" (ionSwipe)="onSwipeLeft(list)">
                        <ion-item-option color="secondary" expandable="true" (click)="transmitLists(list)">
                            <ion-icon slot="end" src="assets/icons/menu/devices.svg"></ion-icon>
                            {{'page_lists.upload'|translate}}
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-reorder-group>
        </ion-list>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="ShowAddButton">
        <ion-fab-button [ariaLabel]="'add'|translate" (click)="addList()">
            <ion-icon src="./assets/icons/add.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start" *ngIf="Lists.length > 0 && ShowScrollButtons">
        <ion-fab-button (click)="ScrollToTop()" [disabled]="DisableScrollToTop">
            <ion-icon src="./assets/icons/to-top.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="ScrollToBottom(false)" [disabled]="DisableScrollToBottom">
            <ion-icon src="./assets/icons/to-top.svg" class="to-bottom"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ng-template #noLists>
    <app-page-add-new *ngIf="ItemsInitialized; else notInit">{{'page_lists.add_new_hint'|translate}}</app-page-add-new>
</ng-template>

<ng-template #notInit>
    <app-page-empty>
        <div slot="image">
            <ion-img src="./assets/icons/hourglass.svg"></ion-img>
        </div>
        <div slot="text">
            <div [innerHTML]="'page_lists.loading'|translate"></div>
        </div>
    </app-page-empty>
</ng-template>
