<app-main-toolbar>{{'page_lists.page_title'|translate}}</app-main-toolbar>

<ion-content fixed-slot-placement="before">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [ariaLabel]="'add'|translate" (click)="addList()">
            <ion-icon src="./assets/icons/add.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list #listsContainer *ngIf="Lists().length > 0; else noLists">
        <ion-reorder-group [disabled]="Lists().length <= 1" (ionItemReorder)="handleReorder($any($event))">
            <ion-item-sliding *ngFor="let list of Lists()">
                <ion-item-options side="start" (ionSwipe)="onSwipeRight(list)">
                    <ion-item-option color="danger" (click)="emptyList(list)" *ngIf="list.ItemsCount > 0">
                        <ion-icon slot="start" src="./assets/icons/trash_bin_solid.svg"></ion-icon>
                        {{'page_lists.empty'|translate}}
                    </ion-item-option>
                    <ion-item-option color="danger" expandable="true" (click)="deleteList(list)">
                        <ion-icon slot="start" src="./assets/icons/trash_solid.svg"></ion-icon>
                        {{'delete'|translate}}
                    </ion-item-option>
                </ion-item-options>
                <ion-item lines="full" [button]="true" (click)="editList($event, list)">
                    <div class="details" (click)="gotoList($event, list)">
                        <div class="listname">{{list.Name}}</div>
                        <ion-note color="medium" class="date">{{UpdatedString(list)}}</ion-note>
                    </div>
                    <div class="itemcount" slot="end">{{list.ItemsCount}}</div>
                    <ion-icon class="edit" src="./assets/icons/edit.svg" slot="end"></ion-icon>
                    <ion-reorder slot="end"></ion-reorder>
                </ion-item>
                <ion-item-options side="end" (ionSwipe)="onSwipeLeft(list)">
                    <ion-item-option color="secondary" expandable="true" (click)="transmitList(list)">
                        <ion-icon slot="end" src="assets/icons/menu/devices.svg"></ion-icon>
                        {{'page_lists.upload'|translate}}
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-reorder-group>
    </ion-list>
</ion-content>
<ng-template #noLists>
    <app-page-add-new> {{'page_lists.add_new_hint'|translate}} </app-page-add-new>
</ng-template>
