:host {
    display: block;
    max-height: 80%;

    ion-header {
        ion-toolbar {
            ion-title {
                font-size: 1.2em;
            }
        }
    }

    ion-item {
        --background-hover: #ffffff;
        --padding-start: 2px;
        --inner-padding-end: 0;

        ion-checkbox {
            &::part(label) {
                margin-inline-start: 24px !important;
                margin-top: 4px;
                align-self: start;
            }

            &::part(container) {
                top: 4px;
            }
        }

        ion-icon {
            &.info-icon {
                margin-top: -0.4em;
                padding-block-start: 0;
                padding-inline-end: 6px;
            }
        }
    }

    ion-accordion-group {
        ion-accordion {
            &.list-settings {
                ion-item[slot="header"] {
                    --ion-color-base: var(--color-popup-background) !important;
                    --ion-color-base-rgb: var(--color-popup-background-rgb) !important;
                    --ion-color-shade: var(--color-popup-background) !important;
                    --ion-color-tint: var(--color-popup-background) !important;
                    padding-inline-end: 4px;
                }

                ion-list {
                    margin-inline: 24px auto;

                    ion-item {
                        --background-hover: #ffffff;
                        --background: var(--ion-background-color);
                        --padding-start: 0;

                        ::part(label) {
                            margin-inline-start: 0;

                            ion-note {
                                white-space: wrap !important;
                            }
                        }

                        &.select-resetdate {
                            cursor: pointer;
                        }

                        ion-select {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    ion-button {
        margin-top: 20px;
    }
}
