:host {
    display: block;
    max-height: 80%;

    ion-header {
        ion-toolbar {
            ion-title {
                font-size: 1.2em;
            }
        }
    }

    ion-accordion-group {
        ion-accordion {
            ion-item {
                --background-hover: #ffffff;
                --padding-start: 6px;
            }

            ion-list {
                margin-inline: 34px auto;

                ion-item {
                    --background-hover: #ffffff;
                    --background: var(--ion-background-color);

                    ::part(label) {
                        margin-inline-start: 0;

                        ion-note {
                            white-space: wrap !important;
                        }
                    }

                    &.select-resetdate {
                        cursor: pointer;
                    }

                    ion-select {
                        width: 100%;
                    }
                }
            }
        }
    }

    ion-button {
        margin-top: 20px;
    }
}
