@use "src/theme/content/lists/listitems-list.scss";

.nolist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    ion-img {
        max-width: 300px;
        max-height: 300px;
        width: 50%;
        height: auto;
        opacity: 0.3;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    ion-text {
        font-size: 1.4em;
        font-weight: 600;
        white-space: pre-line;
    }

    .icon {
        padding-bottom: 40px;
    }

    .text {
        margin-bottom: 15%;
    }
}

.quick-add {
    --inner-padding-end: 4px;

    ion-textarea {
        --placeholder-color: var(--ion-color-medium);
        --placeholder-font-style: italic;
        --placeholder-opacity: 0.8;
        --padding-top: 0.6em;
        --padding-bottom: 0;
        --padding-end: 0;
        --padding-start: 4px;
        font-size: 1.3em;
        min-height: 1.5em;
        --min-height: 1.5em;

        ion-button[slot="end"] {
            margin-top: -0.3em;
        }
    }
}
