<app-main-toolbar back="/lists">{{PageTitle}}</app-main-toolbar>

<ion-content fixed-slot-placement="before" scrollEvents="true" scrollX="false" (ionScroll)="onScroll($event)" *ngIf="List !== undefined && ListInitialized; else error" #mainContent>
    <div *ngIf="List && List.Items.length > 0; else noItems" class="list-content" #listContent>
        <ion-list #itemsContainer>
            <ion-reorder-group [disabled]="List.Items.length <= 1" (ionItemReorder)="HandleReorder($any($event))">
                <ion-item-sliding *ngFor="let item of List.Items">
                    <ion-item-options side="start" (ionSwipe)="onSwipeRight(item)">
                        <ion-item-option color="danger" expandable="true" (click)="deleteItem(item)">
                            <ion-icon slot="start" src="./assets/icons/trash_solid.svg"></ion-icon>
                            {{'delete'|translate}}
                        </ion-item-option>
                    </ion-item-options>
                    <ion-item lines="full" [button]="true" (click)="editItem(item)" [ngClass]="{'hidden': item.Hidden}">
                        <div class="listpoint-indicator-wrapper" slot="start">
                            <div class="listpoint-indicator" *ngIf="!item.Locked"></div>
                            <ion-icon src="./assets/icons/pin_solid.svg" *ngIf="item.Locked"></ion-icon>
                        </div>
                        <div class="details">
                            <div>
                                <ion-text class="item">{{item.Item}}</ion-text>
                            </div>
                            <div *ngIf="item.Note">
                                <ion-note color="medium" class="note">{{item.Note}}</ion-note>
                            </div>
                        </div>
                        <ion-reorder slot="end"></ion-reorder>
                    </ion-item>
                    <ion-item-options side="end" (ionSwipe)="onSwipeLeft(item)">
                        <ion-item-option color="secondary" (click)="PinItem(item)">
                            <ion-icon slot="end" [src]="item.Locked ? './assets/icons/pin_off.svg' : './assets/icons/pin.svg'"></ion-icon>
                            {{(item.Locked ? 'page_listitems.unlock' : 'page_listitems.lock')|translate}}
                        </ion-item-option>
                        <ion-item-option color="secondary" expandable="true" (click)="HideItem(item)">
                            <ion-icon slot="end" [src]="item.Hidden ? './assets/icons/eye.svg' : './assets/icons/eye_off.svg'"></ion-icon>
                            {{(item.Hidden ? 'page_listitems.show' : 'page_listitems.hide')|translate}}
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-reorder-group>
        </ion-list>
        <ion-item lines="none" class="quick-add">
            <ion-textarea placeholder="{{'page_listitems.quickadd'|translate}}" autoGrow="true" inputmode="text" spellcheck="true" maxlength="250" autocapitalize="sentence" rows="2" (ionFocus)="onQuickAddFocus()" (ionBlur)="onQuickAddBlur()" #quickAdd>
                <ion-button fill="outline" color="medium" [ariaLabel]="'add'|translate" size="small" [disabled]="!quickAdd.value?.length" slot="end" (click)="QuickAddItem()">
                    <ion-icon slot="start" src="./assets/icons/add.svg"></ion-icon>
                    {{'add'|translate}}
                </ion-button>
            </ion-textarea>
        </ion-item>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="ShowAddButton">
        <ion-fab-button (click)="AddItem()" [ariaLabel]="'add'|translate">
            <ion-icon src="./assets/icons/add.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start" *ngIf="ShowScrollButtons">
        <ion-fab-button (click)="ScrollToTop()" [disabled]="!List || DisableScrollToTop">
            <ion-icon src="./assets/icons/to-top.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="ScrollToBottom(false)" [disabled]="!List || DisableScrollToBottom">
            <ion-icon src="./assets/icons/to-top.svg" class="to-bottom"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ng-template #noItems>
        <app-page-add-new *ngIf="List; else notInit"> {{'page_listitems.add_new_hint'|translate}} </app-page-add-new>
    </ng-template>
</ion-content>

<ng-template #error>
    <div class="nolist" *ngIf="ListInitialized; else notInit">
        <app-page-empty>
            <div slot="image">
                <ion-img src="./assets/icons/nolist.svg"></ion-img>
            </div>
            <div slot="text">
                <div [innerHTML]="'page_listitems.nolist'|translate"></div>
            </div>
        </app-page-empty>
    </div>
</ng-template>

<ng-template #notInit>
    <app-page-empty>
        <div slot="image">
            <ion-img src="./assets/icons/hourglass.svg"></ion-img>
        </div>
        <div slot="text">
            <div [innerHTML]="'page_listitems.loading'|translate"></div>
        </div>
    </app-page-empty>
</ng-template>
