ion-list {
    margin-bottom: 90px;

    ion-item {
        --padding-top: 6px;
        --padding-bottom: 6px;
        --ripple-color: var(--ion-color-primary);
        --background-hover: var(--ion-color-primary);
        --background-hover-opacity: 0.1;
        --inner-padding-start: 6px;
        --inner-padding-end: 6px;
        cursor: pointer;

        ion-reorder {
            margin-inline-start: 0;
        }

        .details {
            width: 100%;
            --color: var(--ion-color-tertiary);

            .listname {
                font-size: 1.4em;
            }

            ion-note {
                --padding-top: 0;
            }
        }

        .itemcount {
            padding: 4px 8px;
            font-size: 0.8em;
            color: var(--ion-color-primary-contrast);
            border-radius: 12px;
            background: var(--ion-color-primary);
        }

        .edit {
            cursor: pointer;
            margin-inline-start: 10px;
            margin-inline-end: 4px;

            &:hover {
                color: var(--color);
            }
        }
    }
}
