@use "src/theme/content/lists/list.scss";

ion-content {
    background: var(--color-lists-background);

    ion-list {
        ion-item {
            .details {
                --color: var(--ion-color-tertiary);

                .listname {
                    font-size: 1.4em;
                }

                ion-note {
                    --padding-top: 0;
                }
            }

            .itemcount {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                margin-inline-start: 0;
                padding-inline-start: 0.5em;

                .count {
                    padding: 4px 8px;
                    font-size: 0.8em;
                    color: var(--ion-color-primary-contrast);
                    border-radius: 12px;
                    background: var(--ion-color-primary);
                }
            }

            .edit {
                cursor: pointer;
                margin: 0;
                padding: 0.4em 0.3em 0.4em 0.3em;

                &:hover {
                    color: var(--color);
                }
            }
        }
    }
}
