.list-content {
    padding-bottom: 90px;
}

ion-list {
    contain: none;

    ion-item-sliding {
        ion-item {
            --padding-top: 6px;
            --padding-bottom: 6px;
            --padding-start: 6px;
            --ripple-color: var(--ion-color-primary);
            --min-height: 30px;
            cursor: pointer;

            ion-ripple-effect {
                color: var(--ion-color-primary);
            }

            ion-label {
                display: flex;
                flex-direction: row;
                gap: 0.5em;
                margin-top: 0;
                margin-bottom: 0;

                .details {
                    width: 100%;
                }
            }

            .icons,
            .editmode {
                width: 5em;
                height: 100%;
                display: flex;
                justify-content: end;
                align-items: start;
                flex-wrap: nowrap;
                flex-direction: row;
                gap: 0.5em;
                padding-inline-start: 0.5em;
                margin-inline-start: 0;
                padding-block: 0.3em;
            }

            .icons {
                ion-icon {
                    width: 1.5em;
                    min-width: 1.5em;
                    height: 1.5em;
                }
            }

            .editmode {
                ion-checkbox {
                    max-width: 1.5em;
                    --size: 1.5em;
                    --checkbox-background-checked: var(--ion-card-background);
                    --border-color-checked: var(--border-color);
                    --checkmark-color: var(--color-medium);
                    --checkmark-width: 2px;
                    --border-radius: 50%;

                    &::part(container) {
                        top: 0.2em;
                    }
                }

                ion-reorder {
                    ion-icon {
                        width: 1.5em;
                        height: 2em;
                    }
                }
            }
        }
    }

    &#animated-list {
        .animated-item {
            opacity: 1;

            &.animated {
                opacity: 0;
                transition: transform 600ms ease-out, opacity 600ms ease-out;
            }

            &.animation-left {
                transform: translateX(-100vw);
            }

            &.animation-right {
                transform: translateX(100vw);
            }

            &.animation-top {
                transform: translateY(-100vh);
            }

            &.animate-bottom {
                transform: translateY(100vh);
            }

            &.animation-running {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
}

ion-fab {
    flex-direction: row;
    gap: 1em;
    display: flex;

    ion-fab-button {
        &.clicked[data-label]::after {
            background-color: var(--ion-color-secondary);
            transition: background-color 0.5s ease-in;
            color: var(--ion-color-secondary-contrast);
        }

        ion-icon {
            &.to-bottom {
                rotate: 180deg;
            }
        }
    }
}

::ng-deep {
    ion-modal.edit-menu-modal {
        align-items: flex-start;
        top: 56px;
        backdrop-filter: none;

        &::part(content) {
            height: auto;
            -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
        }
    }
}
