ion-list {
    margin-bottom: 90px;

    ion-item {
        --padding-top: 6px;
        --padding-bottom: 6px;
        --padding-start: 6px;
        --ripple-color: var(--ion-color-primary);
        --background-hover: var(--ion-color-primary);
        --background-hover-opacity: 0.1;
        --min-height: 30px;
        cursor: pointer;

        ion-reorder {
            margin-inline-end: 0;
            margin-inline-start: 10px;
        }

        .listpoint-indicator-wrapper {
            width: 12px;
            margin-inline-end: 4px;

            .listpoint-indicator {
                background: var(--color);
                width: 6px;
                height: 6px;
                border-radius: 100%;
                position: absolute;
                inset-inline-start: 10px;
                margin-inline-end: 4px;
                top: 20px;
            }

            ion-icon {
                width: 12px;
                top: 16px;
                position: absolute;
            }
        }

        .details {
            width: 100%;
            margin-block: 6px;

            .item {
                font-size: 1.3em;
                padding-top: 6px;
                white-space: pre-line;
            }

            .note {
                --padding-top: 0;
                white-space: pre-line;
                min-height: 6px;
            }
        }

        &.hidden {

            .details .item,
            .details .note,
            .listpoint-indicator {
                opacity: 0.3;
            }
        }
    }
}

.nolist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    ion-img {
        max-width: 300px;
        max-height: 300px;
        width: 50%;
        height: auto;
        opacity: 0.3;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    ion-text {
        font-size: 1.4em;
        font-weight: 600;
        white-space: pre-line;
    }

    .icon {
        padding-bottom: 40px;
    }

    .text {
        margin-bottom: 15%;
    }
}
