@use "src/theme/content/lists/list.scss";

ion-list {
    ion-item-sliding {
        ion-item {
            .details {
                .listname {
                    font-size: 1.4em;
                }
            }

            .icons {
                .itemcount {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-inline-start: 0;
                    padding-inline-start: 0.5em;
                    word-break: keep-all;

                    .count {
                        padding: 4px 8px;
                        font-size: 0.8em;
                        color: var(--ion-color-primary-contrast);
                        border-radius: 12px;
                        background: var(--ion-color-primary);
                    }
                }

                .edit {
                    margin: 0;
                    padding: 0.4em 0.3em 0.4em 0.3em;
                }
            }
        }
    }
}
