.list-content {
    padding-bottom: 90px;
}

ion-list {
    contain: none;

    ion-item-sliding {
        ion-item {
            --padding-top: 6px;
            --padding-bottom: 6px;
            --padding-start: 6px;
            --ripple-color: var(--ion-color-primary);
            --min-height: 3.5em;
            cursor: pointer;
            display: flex;
            align-items: start;

            &.selected-item {
                --background: rgba(var(--ion-color-primary-rgb), 0.07);

                .editmode {
                    .editmode-wrapper {
                        background-color: #e9f2fc;
                    }
                }
            }

            ion-label {
                display: flex;
                flex-direction: row;
                gap: 0.5em;
                margin-top: 0;
                margin-bottom: 0;

                .details {
                    width: 100%;
                }
            }

            .icons,
            .editmode {
                display: flex;
                justify-content: end;
                align-items: start;
                flex-wrap: nowrap;
                flex-direction: row;
                gap: 0.5em;
                padding-inline-start: 0.5em;
                margin-inline-start: 0;
                padding-block: 0.3em;
            }

            .icons {
                opacity: 1;
                transition: opacity 400ms ease-in-out;

                &.hide {
                    opacity: 0;
                }

                ion-icon {
                    width: 1.5em;
                    min-width: 1.5em;
                    height: 1.5em;
                }
            }

            .editmode {
                position: absolute;
                width: 6em;
                right: -6em;
                top: -0.3em;
                z-index: 10;
                transition: right 500ms ease-in-out;
                display: flex;
                flex-direction: end;
                padding: 0.5em 0 0.5em 0.5em;
                backdrop-filter: blur(1px);
                border-radius: 1em 0 0 1em;

                &.show {
                    right: 0;

                    .editmode-wrapper {
                        opacity: 1;
                    }
                }

                .editmode-wrapper {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: end;
                    gap: 0.5em;
                    width: 100%;
                    height: 100%;
                    min-height: 3em;
                    padding-inline-end: 0.5em;
                    opacity: 0;
                    transition: opacity 500ms ease-in-out, background-color 300ms ease-in-out;
                    background-color: var(--color-item-background);
                    border: solid 1px rgba(var(--color-control-border-rgb), 0.5);
                    border-radius: 1em 0 0 1em;
                    -webkit-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.1);
                    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.1);

                    ion-checkbox {
                        max-width: 1.5em;
                        --size: 1.5em;
                        --checkbox-background-checked: var(--ion-card-background);
                        --border-color-checked: var(--border-color);
                        --checkmark-color: var(--ion-color-medium);
                        --checkmark-width: 3px;
                        --border-radius: 20%;

                        &::part(container) {
                            top: -0.2em;
                        }
                    }

                    ion-reorder {
                        ion-icon {
                            width: 1.5em;
                            height: 2em;
                        }
                    }
                }
            }
        }
    }

    &#animated-list {
        .animated-item {
            &.animated {
                opacity: 0;
                transition: transform 600ms ease-out, opacity 600ms ease-out;
            }

            &.animation-left {
                transform: translateX(-100vw);
            }

            &.animation-right {
                transform: translateX(100vw);
            }

            &.animation-top {
                transform: translateY(-100vh);
            }

            &.animate-bottom {
                transform: translateY(100vh);
            }

            &.animation-running {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
}

ion-fab {
    flex-direction: row;
    gap: 1em;
    display: flex;

    ion-fab-button {
        &.clicked[data-label]::after {
            background-color: var(--ion-color-secondary);
            transition: background-color 0.5s ease-in;
            color: var(--ion-color-secondary-contrast);
        }

        ion-icon {
            &.to-bottom {
                rotate: 180deg;
            }
        }
    }
}
