<app-main-toolbar back="/">{{'page_devices.page_title'|translate}}</app-main-toolbar>
<ion-content>
    <div>
        <ion-card>
            <ion-select [label]="'page_devices.known_devices'|translate" labelPlacement="stacked" interface="alert" fill="outline" [disabled]="Devices.length == 0" [color]="SelectedDevice?.State != 'Ready' ? 'medium' : undefined"
                [okText]="'select'|translate" [cancelText]="'cancel'|translate" [value]=" SelectedDevice?.Identifier" (ionChange)="onDeviceChanged($event.detail.value)" [interfaceOptions]="{'cssClass': 'devices'}" #deviceSelect>
                <ion-select-option *ngFor="let device of Devices" [value]="device.Identifier" [ngClass]="{'disabled': device.State != 'Ready'}">{{device.Name}}</ion-select-option>
            </ion-select>
            <div class="deviceState" [ngClass]="{'error': SelectedDevice.Error}" *ngIf="SelectedDevice && SelectedDevice.State != 'Ready' && SelectedDevice.State != 'AppNotInstalled'">{{SelectedDevice.StateLocale}}
            </div>
            <div class="install ion-text-center" *ngIf="installHint">
                <ion-text (click)="openStore()" [innerHTML]="'page_devices.install_app'|translate"></ion-text>
            </div>
            <div style="clear: both"></div>
            <ion-toggle class="ion-float-right" [checked]="AlwaysTransmitDeviceSelected" [disabled]="SelectedDevice == undefined || SelectedDevice.State == 'AppNotInstalled'" (ionChange)="onToggle($event.detail.checked)">
                <div>
                    {{'page_devices.toggle'|translate}}
                </div>
            </ion-toggle>
            <div style="clear: both"></div>
            <ion-button class="ion-float-right" [disabled]="SelectedDevice?.State != 'Ready'" *ngIf="ListUuid" (click)="TransmitList()">
                {{'page_devices.send_btn'|translate}}
            </ion-button>
        </ion-card>
    </div>

    <ion-fab horizontal="end" vertical="bottom">
        <ion-fab-button (click)="loadDevices()">
            <ion-icon src="./assets/icons/reload.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
