:host {
    display: block;
    max-height: 80%;

    ion-header {
        ion-toolbar {
            ion-title {
                font-size: 1.2em;
            }
        }
    }

    .inner-content {
        ion-select {
            margin-top: 20px;

            &::part(container) {
                margin-inline: auto;
            }
        }

        ion-button {
            margin-top: 20px;
            float: right;
        }

        ion-accordion-group {
            ion-accordion {
                ion-item {
                    --background-hover: #FFFFFF;
                    --padding-start: 6px;
                }

                ion-list {
                    ion-item {
                        --background-hover: #FFFFFF;

                        ::part(label) {
                            margin-inline-start: 6px;
                        }

                        .meta_note {
                            margin-inline-start: 24px;
                            position: relative;
                            top: -12px;
                        }
                    }
                }
            }
        }
    }
}
