// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #0077ff;
    --ion-color-primary-rgb: 0, 141, 245;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1288dd;
    --ion-color-primary-tint: #a0d7ff;
    /** secondary **/
    --ion-color-secondary: #ad1caf;
    --ion-color-secondary-rgb: 169, 0, 173;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #d82fdc;
    --ion-color-secondary-tint: #f38ff7;
    /** success **/
    --ion-color-success: #3fb439;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #038b03;
    --ion-color-success-contrast-rgb: 3, 139, 3;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #e8fddb;
    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    /** danger **/
    --ion-color-danger: #ff2525;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ffe0e0;
    /** toast notice **/
    --color-notice: #1d75e9;
    --color-notice-tint: #dcf3ff;
    /** Custom **/
    --ion-background-color: #ffffff;
    --ion-color-medium: #97989e;
    --ion-card-background: #fafafa;
    --ion-card-color: var(--color-text);
    --color-toolbar: var(--ion-color-primary);
    --color-text: #000000;
    --color-text-tint: #5e5e5e;
    --color-text-contrast: #ffffff;
    --color-background-tint-rgb: 255, 255, 255;
    --color-item-background: #ffffff;
    --color-control-background: #ffffff;
    --color-control-border: #cecece;
    --color-control-selected-background: #dddddd;
    --color-shadow: #000000;
    --color-shadow-rgb: 0, 0, 0;
    --color-backdrop: #000000;
    --color-popup-background: #ffffff;
    --color-popup-background-rgb: 255, 255, 255;
    --color-highlight: var(--ion-color-primary);
    --color-info: #d1d2d4;
    --color-picker-rgb: 255, 255, 255;
    --color-toggle-handle-background: #ffffff;
    --color-lists-background: #ffffff;
    --color-action-sheet-background: #ffffff;
    /** main menu **/
    --color-menu-background: #ebfcff;
    --color-menu-text: #000000;
    --color-menu-separator: solid 1px var(--ion-color-primary-tint);
    --color-menu-selected-text: var(--ion-color-primary);
    --color-menu-selected-background: rgba(var(--ion-color-primary-rgb), 0.19);
    --color-menu-shadow: rgba(var(--color-shadow-rgb), 0.2);
}

html {
    /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
    --ion-dynamic-font: var(--ion-default-dynamic-font);
}

@media (prefers-color-scheme: dark) {
    /*
   * Dark Colors
   * -------------------------------------------
   */
    body {
        /** primary **/
        --ion-color-primary: #2780e6;
        --ion-color-primary-rgb: 0, 141, 245;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #0085e4;
        --ion-color-primary-tint: #a0d7ff;
        /** secondary **/
        --ion-color-secondary: #a900ad;
        --ion-color-secondary-rgb: 169, 0, 173;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #d82fdc;
        --ion-color-secondary-tint: #f38ff7;
        /** success **/
        --ion-color-success: #2fdf75;
        --ion-color-success-rgb: 47, 223, 117;
        --ion-color-success-contrast: #50eb50;
        --ion-color-success-contrast-rgb: 3, 139, 3;
        --ion-color-success-shade: #1de06b;
        --ion-color-success-tint: #183f00;
        /** warning **/
        --ion-color-warning: #ffd534;
        --ion-color-warning-rgb: 255, 213, 52;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #e0bb2e;
        --ion-color-warning-tint: #ffd948;
        /** danger **/
        --ion-color-danger: #830617;
        --ion-color-danger-rgb: 255, 73, 97;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #e04055;
        --ion-color-danger-tint: #ff5b71;
        /** Custom **/
        --ion-background-color: #535353;
        --ion-color-medium: #cfcfcf;
        --ion-card-background: #535353;
        --ion-card-color: var(--color-text);
        --ion-text-color: var(--color-text);
        --color-toolbar: #002794;
        --color-text: #ffffff;
        --color-text-tint: #c5c5c5;
        --color-text-contrast: #000000;
        --color-background-tint-rgb: 59, 59, 59;
        --color-control-background: #4d4d4d;
        --color-control-border: #979797;
        --color-control-selected-background: #979797;
        --color-item-background: #535353;
        --color-shadow: #000000;
        --color-shadow-rgb: 0, 0, 0;
        --color-backdrop: #000000;
        --color-popup-background: #7a7a7a;
        --color-popup-background-rgb: 122, 122, 122;
        --color-highlight: var(--ion-color-primary-shade);
        --color-info: #babbc1;
        --color-picker-rgb: 49, 49, 49;
        --color-toggle-handle-background: #979797;
        --color-lists-background: #3b3b3b;
        --color-action-sheet-background: #3b3b3b;
        /** main menu **/
        --color-menu-background: #305174;
        --color-menu-text: #c5c5c5;
        --color-menu-separator: solid 1px var(--ion-color-primary);
        --color-menu-selected-text: #c5dcff;
        --color-menu-selected-background: rgba(var(--ion-color-primary-rgb), 0.7);
        --color-menu-shadow: rgba(var(--color-shadow-rgb), 0.5);
    }
}
