// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #0077ff;
    --ion-color-primary-rgb: 0, 141, 245;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1288dd;
    --ion-color-primary-tint: #a0d7ff;

    /** secondary **/
    --ion-color-secondary: #ad1caf;
    --ion-color-secondary-rgb: 169, 0, 173;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #d82fdc;
    --ion-color-secondary-tint: #f38ff7;

    /** success **/
    --ion-color-success: #3fb439;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #038b03;
    --ion-color-success-contrast-rgb: 3, 139, 3;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #E8FDDB;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #ff2525;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ffe0e0;

    /** toast notice **/
    --color-notice: #1d75e9;
    --color-notice-tint: #dcf3ff;

    /** Custom **/
    --ion-background-color: #FFFFFF;
    --ion-color-medium: #97989e;
    --ion-card-background: #fafafa;
    --ion-card-color: var(--color-text);
    --color-toolbar: var(--ion-color-primary);
    --color-text: #000000;
    --color-text-tint: #5e5e5e;
    --color-text-contrast: #FFFFFF;
    --color-item-background: #FFFFFF;
    --color-control-border: #CECECE;
    --color-shadow: #000000;
    --color-shadow-rgb: 0, 0, 0;
    --color-backdrop: #000000;
    --color-popup-background: #e4e4e4;
    --color-highlight: var(--ion-color-primary);

    /** main menu **/
    --color-menu-background: #ebfcff;
    --color-menu-text: #000000;
    --color-menu-separator: solid 1px var(--ion-color-primary-tint);
    --color-menu-selected-text: var(--ion-color-primary);
    --color-menu-selected-background: rgba(var(--ion-color-primary-rgb), 0.19);
    --color-menu-shadow: rgba(var(--color-shadow-rgb), 0.2);
}

html {
    /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
    --ion-dynamic-font: var(--ion-default-dynamic-font);
}
