ion-item {
    .value {
        font-size: 0.9em;
        color: var(--ion-color-medium);
    }

    ion-label {
        align-items: flex-start;
        margin-inline-end: 0;

        &.withgrid {
            max-width: 100px;
        }
    }
}

ion-item-divider {
    font-size: 0;
    --inner-padding-bottom: 5px;
    --padding-start: 5px;
}

ion-grid {
    padding-block-start: 0;
    padding-block-end: 10px;
    padding-inline-start: 0;
    padding-inline-end: 0;

    ion-col {
        padding-inline-end: 0;

        &:last-of-type:not(.colspan) {
            max-width: 300px;
        }
    }
}
