ion-content {
    .flex {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .list {
        flex: 1;

        ion-list {
            ion-item {
                --padding-top: 16px;

                div {
                    width: 100%;
                }

                ion-note,
                ion-grid {
                    width: 100%;
                    font-size: 0.9em;
                    color: var(--ion-color-medium);
                }

                ion-note {
                    display: block;
                }

                ion-grid {
                    padding: 0;
                    width: 100%;

                    ion-col {
                        &:first-of-type {
                            flex-grow: 2;
                            text-align: end;
                        }
                        &:last-of-type {
                            flex-grow: 3;
                            text-align: end;
                            max-width: 150px;
                            min-width: 150px;
                            padding-inline-end: 0;
                        }
                    }
                }
            }
        }
    }
    .support {
        padding: 5%;
        font-size: 0.9em;
        color: var(--ion-color-medium);
        align-self: flex-end;
        margin-bottom: 10%;

        ion-text {
            text-align: center;
        }

        ion-img {
            margin-top: 30px;
            margin-inline: auto;
            max-width: 265px;
        }
    }
}
