ion-content {
    .flex {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .list {
        flex: 1;

        ion-item {
            .value,
            ion-note {
                font-size: 0.9em;
                color: var(--ion-color-medium);
            }

            ion-grid {
                padding: 0;

                ion-col {
                    &:first-of-type {
                        flex-grow: 2;
                    }
                    &:last-of-type {
                        flex-grow: 3;
                        text-align: end;
                    }

                    ion-grid {
                        padding: 0;

                        ion-col {
                            padding-inline: 0;

                            &:first-of-type {
                                flex-grow: 3;
                            }
                            &:last-of-type {
                                flex-grow: 7;
                            }
                        }
                    }
                }
            }
        }
    }
    .support {
        padding: 5%;
        font-size: 0.9em;
        color: var(--ion-color-medium);
        align-self: flex-end;

        ion-text {
            text-align: center;
        }

        ion-img {
            margin-top: 30px;
            margin-inline: auto;
            max-width: 265px;
        }
    }
}
