:host {
    ion-menu {
        --background: var(--color-menu-background);
        backdrop-filter: blur(2px);

        &::part(backdrop) {
            background-color: var(--color-backdrop);
        }

        ion-content {
            --background: transparent;

            .header {
                background-color: var(--ion-color-primary);
            }
        }

        ion-list {
            padding: 0;

            ion-item {
                cursor: pointer;
                --background: var(--color-menu-background);
                --color: var(--color-menu-text);

                &:hover {
                    --color: var(--color-menu-selected-text);
                    --background: var(--color-menu-selected-background);

                    ion-icon {
                        fill: var(--color-menu-selected-text);
                    }
                }

                &.selected {
                    --color: var(--color-menu-selected-text);
                    --background: var(--color-menu-selected-background);

                    ion-icon {
                        fill: var(--color-menu-selected-text);
                    }
                }

                &.item-disabled {
                    --background: var(--color-menu-background);
                    --color: var(--ion-color-medium);
                    opacity: 1;

                    ion-icon {
                        fill: var(--ion-color-medium);
                    }
                }

                ion-label {
                    font-weight: 500;
                }

                ion-icon {
                    margin-inline-end: 10px;
                    fill: var(--color-menu-text);
                }
            }
        }

        ion-footer {
            --background: var(--color-menu-background);
            box-shadow: none;
            border-top: var(--color-menu-separator);
            margin-bottom: 16px;

            ion-item:last-of-type {
                --border-width: 0;
            }
        }

        #main-applogo {
            width: 110px;
            height: 110px;
            margin: 0 auto;
            padding-block: 10px;
        }
    }

    ion-menu.md {
        ion-list-header,
        ion-item {
            --padding-start: 10px;
            --padding-end: 10px;
        }
    }

    @media only screen and (max-width: 767px) {
        ion-menu,
        ion-menu::part(container) {
            box-shadow: 11px 0px 50px 50px var(--color-menu-shadow);
        }
    }

    @media only screen and (min-width: 768px) {
        ion-menu {
            max-width: 350px;
        }
    }
}
