<app-main-toolbar back="/settings">{{'page_settings_logs.page_title'|translate}}</app-main-toolbar>

<ion-content>
    <ion-list>
        <ion-item lines="full">
            <ion-select [label]="'page_settings_logs.mode' | translate" label-placement="stacked" [okText]="'change'|translate" [cancelText]="'cancel'|translate" value="{{Logger.LogLevelShort}}" (ionChange)="onChangeLogging($event)">
                <ion-select-option value="debug" (selected)="Logger.LogLevelShort == 'debug'">{{'page_settings_logs.mode_debug'|translate}}</ion-select-option>
                <ion-select-option value="verbose" (selected)="Logger.LogLevelShort == 'verbose'">{{'page_settings_logs.mode_verbose'|translate}}</ion-select-option>
                <ion-select-option value="normal" (selected)="Logger.LogLevelShort == 'normal'">{{'page_settings_logs.mode_normal'|translate}}</ion-select-option>
                <ion-select-option value="error" (selected)="Logger.LogLevelShort == 'error'">{{'page_settings_logs.mode_error'|translate}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="full">
            <ion-select [label]="'page_settings_logs.autodelete'|translate" label-placement="stacked" [okText]="'change'|translate" value="{{Logger.AutoDelete}}" [cancelText]="'cancel'|translate" (ionChange)="onChangeLoggingAutoDelete($event)">
                <ion-select-option value="0" (selected)="Logger.AutoDelete == 0">{{'page_settings_logs.autodelete_never'|translate}}</ion-select-option>
                <ion-select-option value="1" (selected)="Logger.AutoDelete == 1">{{'page_settings_logs.autodelete_day'|translate}}</ion-select-option>
                <ion-select-option value="7" (selected)="Logger.AutoDelete == 7">{{'page_settings_logs.autodelete_week'|translate}}</ion-select-option>
                <ion-select-option value="30" (selected)="Logger.AutoDelete == 30">{{'page_settings_logs.autodelete_month'|translate}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item [button]="true" routerDirection="forward" [routerLink]="['/settings/logs']" lines="full">
            <ion-label>{{'page_settings_logs.show'|translate}}</ion-label>
            <ion-icon slot="end" src="./assets/icons/chevron_forward.svg"></ion-icon>
        </ion-item>

        <ion-item *ngIf="LogsSize" lines="none">
            <div class="info">
                <ion-text>{{LogsSize}}</ion-text>
            </div>
        </ion-item>

        <ion-item lines="none">
            <ion-button (click)="onBtnDeleteLogs()" slot="end" size="default" [disabled]="Logfiles == 0">{{'page_settings_logs.deleteall'|translate}}</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
