<div>
    <ion-buttons *ngIf="EditMode">
        <ion-button shape="round" (click)="ToggleEditMenu()" [disabled]="EditMenuDisabled">
            <ion-icon src="/assets/icons/list_menu.svg" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button shape="round" (click)="leaveEditMode()">
            <ion-icon src="/assets/icons/close.svg" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="!EditMode">
        <ion-button shape="round" (click)="enterEditMode()">
            <ion-icon src="/assets/icons/edit.svg" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
</div>
