<app-main-toolbar back="/settings">{{'page_settings_confirm.page_title'|translate}}</app-main-toolbar>

<ion-content>
    <ion-list>
        <!-- transmit list-->
        <ion-item lines="full">
            <ion-toggle label-placement="start" [checked]="TransmitList" (ionChange)="onTransmitListChanged($event.target.checked)">
                <div class="text" [innerHTML]="'page_settings_confirm.transmit_list'|translate"></div>
                <ion-note [innerHTML]="'page_settings_confirm.transmit_list_note'|translate"></ion-note>
            </ion-toggle>
        </ion-item>
        <!-- delete list -->
        <ion-item lines="full">
            <ion-toggle label-placement="start" [checked]="DeleteList" (ionChange)="onDeleteListChanged($event.target.checked)">
                <div class="text" [innerHTML]="'page_settings_confirm.delete_list'|translate"></div>
                <ion-note [innerHTML]="'page_settings_confirm.delete_list_note'|translate"></ion-note>
            </ion-toggle>
        </ion-item>
        <!-- delete listitem -->
        <ion-item lines="full">
            <ion-toggle label-placement="start" [checked]="DeleteListitem" (ionChange)="onDeleteListItemChanged($event.target.checked)">
                <div class="text" [innerHTML]="'page_settings_confirm.delete_listitem'|translate"></div>
                <ion-note [innerHTML]="'page_settings_confirm.delete_listitem_note'|translate"></ion-note>
            </ion-toggle>
        </ion-item>
        <!-- empty list -->
        <ion-item lines="full">
            <ion-toggle label-placement="start" [checked]="EmptyList" (ionChange)="onEmptyListChanged($event.target.checked)">
                <div class="text" [innerHTML]="'page_settings_confirm.empty_list'|translate"></div>
                <ion-note [innerHTML]="'page_settings_confirm.empty_list_note'|translate"></ion-note>
            </ion-toggle>
        </ion-item>
        <!-- erase list from trash -->
        <ion-item lines="full">
            <ion-toggle label-placement="start" [checked]="EraseList" (ionChange)="onEraseListChanged($event.target.checked)">
                <div class="text" [innerHTML]="'page_settings_confirm.erase_list'|translate"></div>
                <ion-note [innerHTML]="('page_settings_confirm.erase_list_note'|translate) + ('page_settings_confirm.undo_warning'|translate)"></ion-note>
            </ion-toggle>
        </ion-item>
        <!-- erase listitem from trash -->
        <ion-item lines="full">
            <ion-toggle label-placement="start" [checked]="EraseListitem" (ionChange)="onEraseListitemChanged($event.target.checked)">
                <div class="text" [innerHTML]="'page_settings_confirm.erase_listitem'|translate"></div>
                <ion-note [innerHTML]="('page_settings_confirm.erase_listitem_note'|translate) + ('page_settings_confirm.undo_warning'|translate)"></ion-note>
            </ion-toggle>
        </ion-item>
        <!-- restore list from trash -->
        <ion-item lines="full">
            <ion-toggle label-placement="start" [checked]="RestoreList" (ionChange)="onRestoreListChanged($event.target.checked)">
                <div class="text" [innerHTML]="'page_settings_confirm.restore_list'|translate"></div>
                <ion-note [innerHTML]="('page_settings_confirm.restore_list_note'|translate)"></ion-note>
            </ion-toggle>
        </ion-item>
        <!-- restore listitem from trash -->
        <ion-item lines="full">
            <ion-toggle label-placement="start" [checked]="RestoreListitem" (ionChange)="onRestoreListitemChanged($event.target.checked)">
                <div class="text" [innerHTML]="'page_settings_confirm.restore_listitem'|translate"></div>
                <ion-note [innerHTML]="('page_settings_confirm.restore_listitem_note'|translate)"></ion-note>
            </ion-toggle>
        </ion-item>
        <!-- empty trash -->
        <ion-item lines="full">
            <ion-toggle label-placement="start" [checked]="EmptyTrash" (ionChange)="onEmptyTrashChanged($event.target.checked)">
                <div class="text" [innerHTML]="'page_settings_confirm.empty_trash'|translate"></div>
                <ion-note [innerHTML]="('page_settings_confirm.empty_trash_note'|translate) + ('page_settings_confirm.undo_warning'|translate)"></ion-note>
            </ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
