<app-main-toolbar back="/lists">{{'page_trashitem.page_title'|translate}}</app-main-toolbar>

<ion-content>
    <div *ngIf="List && List.TrashItems.length > 0; else empty">
        <ion-list #itemsContainer>
            <ion-item-sliding *ngFor="let item of List?.TrashItems">
                <ion-item-options side="start" (ionSwipe)="onSwipeRight(item)">
                    <ion-item-option color="danger" expandable="true" (click)="deleteItem(item)">
                        <ion-icon slot="start" src="./assets/icons/trash_solid.svg"></ion-icon>
                        {{'delete'|translate}}
                    </ion-item-option>
                </ion-item-options>
                <ion-item lines="full" [ngClass]="{'hidden': item.Hidden}">
                    <div class="listpoint-indicator-wrapper" slot="start">
                        <div class="listpoint-indicator"></div>
                    </div>
                    <div class="details">
                        <div>
                            <ion-text class="item">{{item.Item}}</ion-text>
                        </div>
                        <div *ngIf="item.Note">
                            <ion-note color="medium" class="note">{{item.Note}}</ion-note>
                        </div>
                    </div>
                </ion-item>
                <ion-item-options side="end" (ionSwipe)="onSwipeLeft(item)">
                    <ion-item-option color="secondary" expandable="true" (click)="restoreItem(item)">
                        <ion-icon slot="end" src="./assets/icons/undo.svg"></ion-icon>
                        {{'page_trash.restore'|translate}}
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
    <ng-template #empty>
        <app-page-empty>
            <div slot="image">
                <ion-icon src="./assets/icons/menu/trash_items.svg"></ion-icon>
            </div>
            <div slot="text">
                <ion-text>{{'page_trashitem.empty'|translate}}</ion-text>
            </div>
        </app-page-empty>
    </ng-template>
</ion-content>
