.privacy-policy {
    font-size: 0.9em;
    padding: 8px;

    h2 {
        margin: 8px 0;
        font-weight: 900;
        font-size: 1.5em;
        line-height: 1.1em;
    }

    h3 {
        margin-top: 8px;
        font-weight: 900;
        margin: 6px 0;
        font-size: 1.3em;
    }

    ul {
        margin-block-start: 0;
        margin-block-end: 1em;
        padding-inline-start: 20px;
    }
}
